html,
body,
#app {
  margin: 0;
  padding: 0;
  /* background-color: #2C4362; */
}

::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

.light {
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ededed;
  }

  .el-card {
    border-color: #ededed;
  }
}

.dark {
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .el-input__inner,
  .el-textarea__inner {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    caret-color: #ededed;
  }

  .el-checkbox__inner {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.2);
  }

  .el-color-picker__trigger {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .el-color-picker__color {
    border-color: rgba(255, 255, 255, 0.3);
  }

  .el-color-picker .el-color-picker__icon {
    color: #ededed;
  }

  .el-input-group__append {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    button.el-button {
      background-color: rgba(0, 0, 0, 0.9);
      border-color: rgba(255, 255, 255, 0.2);
      color: #ededed;
    }
  }

  .el-tree-node:focus > .el-tree-node__content {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .el-tree-node__content:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .el-card {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .el-table {
    background-color: unset;
    th.el-table__cell {
      background-color: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.8);
    }
    tr {
      background-color: rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.65);
    }
    .el-table__border-left-patch {
      background-color: rgba(255, 255, 255, 0.15);
    }
    td.el-table__cell,
    th.el-table__cell.is-leaf {
      border-bottom-color: rgba(255, 255, 255, 0.15);
    }
  }

  .el-table--striped
    .el-table__body
    tr.el-table__row--striped
    td.el-table__cell {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: rgba(255, 255, 255, 0.15);
  }

  .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    background-color: rgba(255, 255, 255, 0.08);
  }

  .el-table--border {
    &::before {
      background-color: unset;
    }
    .el-table__cell {
      border-right-color: rgba(255, 255, 255, 0.15);
    }
    &::after {
      background-color: unset;
    }
    .el-table__inner-wrapper {
      &::before {
        background-color: unset;
      }
      &::after {
        background-color: rgba(255, 255, 255, 0.15);
      }
      tr:first-child td:first-child,
      tr:first-child th:first-child {
        border-left: unset;
      }
    }
  }

  .el-button--primary.is-plain {
    background-color: rgba(255, 255, 255, 0.15);
    &:hover {
      background-color: #53a8ff;
    }
  }

  .el-pagination.is-background .btn-prev:disabled,
  .el-pagination.is-background .btn-next:disabled,
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .el-pager li {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .el-select__popper.el-popper[role='tooltip'] {
    background-color: rgba(0, 0, 0);
    border-color: rgba(255, 255, 255, 0.15);
  }

  .el-select-dropdown__item {
    color: rgba(255, 255, 255, 0.65);
    &.hover,
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .el-popper.is-light .el-popper__arrow::before {
    background-color: unset;
  }

  .el-select__popper.el-popper[role='tooltip'] .el-popper__arrow::before {
    background-color: rgba(0, 0, 0);
    border-color: rgba(255, 255, 255, 0.15);
  }

  .el-loading-mask {
    background-color: #0d1117;
  }

  .el-breadcrumb__inner.is-link {
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      color: #409eff;
    }
  }

  .el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color: rgba(255, 255, 255, 0.6);
  }

  .el-skeleton.is-animated .el-skeleton__item {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.15) 25%,
      rgba(255, 255, 255, 0.25) 37%,
      rgba(255, 255, 255, 0.15) 63%
    );
    background-size: 400% 100%;
    animation: el-skeleton-loading 1.4s ease infinite;
  }

  .el-drawer {
    background-color: #0d1117;
  }
}

.el-card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) !important;
  .el-card__body {
    height: 100%;
  }
}

.el-input__wrapper {
  width: 100%;
}

.el-drawer__header {
  color: #409eff;
}

@media screen and (max-width: 480px) {
  .el-message {
    min-width: 70% !important;
  }
}
