@font-face {
  font-family: "iconfont"; /* Project id 2164502 */
  src: url('iconfont.woff2?t=1649402297145') format('woff2'),
       url('iconfont.woff?t=1649402297145') format('woff'),
       url('iconfont.ttf?t=1649402297145') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmoon:before {
  content: "\e7bf";
}

.iconsunny:before {
  content: "\e67d";
}

.icontiaoxingma1:before {
  content: "\e642";
}

.iconchenggong:before {
  content: "\e60a";
}

.iconxinshenqing:before {
  content: "\e62d";
}

.iconsousuo:before {
  content: "\e61a";
}

.iconpicixiangqing:before {
  content: "\e628";
}

.iconshouye:before {
  content: "\e629";
}

.iconsaoma:before {
  content: "\e649";
}

.icongengduo:before {
  content: "\e69a";
}

.iconHSbianma:before {
  content: "\e656";
}

.iconjibenxinxi:before {
  content: "\e60b";
}

.iconyunliankeji-:before {
  content: "\e617";
}

.iconjianyanjianyi:before {
  content: "\e618";
}

.iconjiandu:before {
  content: "\e721";
}

.iconexchangerate:before {
  content: "\e679";
}

.iconjiliang-xian:before {
  content: "\e631";
}

.iconyoujian:before {
  content: "\e64e";
}

.iconfenleishouye:before {
  content: "\e60e";
}

.iconremen:before {
  content: "\e6a6";
}

